h1 {
  color: $headerColor;
  font-size: 2rem;
}
.inputGlobal {
  width: 100%;
  position: relative;
  i {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.6rem;
  }
}
.form-control {
  background-color: $backgroundColor;
}

.primaryColor {
  background-color: $primaryColor;
  color: #fff;
}
.successColor {
  background-color: $successColor;
  color: #fff;
}
.dangerColor {
  background-color: $dangerColor;
  color: #fff;
}

#choice {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  color: #fff;
  li:hover {
    cursor: pointer;
    font-weight: bold;
  }
  li {
    margin-left: 5px;
    max-width: 32%;
  }
  #ingredients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 23rem;
    list-style-type: none;
    padding: 5px;
  }

  #ingredientsList {
    margin-right: 1.5rem;
    background-color: $primaryColor;
    border-radius: 6px;

    .ingredientsList {
      background-color: transparent;
      margin-top: 1.7rem;
      position: relative;
    }
    .ingredientsList::placeholder {
      text-align: center;
      color: white;
    }
  }
  #appareils {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 23rem;
    list-style-type: none;
    padding: 5px;
  }
  #appareilsList {
    margin-right: 1.5rem;
    background-color: $successColor;
    border-radius: 6px;

    .appareilsList {
      background-color: transparent;
      margin-top: 1.7rem;
    }
    .appareilsList::placeholder {
      text-align: center;
      color: white;
    }
  }
  #ustensiles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 23rem;
    list-style-type: none;
    padding: 5px;
  }
  #ustensilesList {
    background-color: $dangerColor;
    border-radius: 6px;
    .ustensilesList {
      background-color: transparent;
      margin-top: 1.7rem;
    }
    .ustensilesList::placeholder {
      text-align: center;
      color: white;
    }
  }
}
.card-text {
  .ingredientRecipe p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }
  .descriptionRecipe p {
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
  }
}
.backgroundColor {
  background-color: $backgroundColor;
  border-radius: 0 0 7px 7px;
}
// .dropdownIngredients {
//   position: absolute;
//   top: 23rem;
//   left: 59rem;
// }
// .dropdownAppareils {
//   position: absolute;
//   top: 23rem;
//   left: 74rem;
// }
// .dropdownUstensiles {
//   position: absolute;
//   top: 23rem;
//   left: 89rem;
// }
